@import url('https://fonts.googleapis.com/css?family=K2D');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Muli');
html,body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.logo{
    position: relative;
}
.logotopo{ 
    position: absolute;
    top: 0;
    left: 10px;
    font-family: 'K2D', sans-serif;
    color:rgba(255, 255, 255, 0.945);
    margin: 1rem;   
    font-size: 22px;
} 
.intro{
    width: 100vw;
    height: 100vh;
    background: url(../img/t.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.texto-central{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.texto-central h1{
    font-family: "Muli",sans-serif;
    font-size: 80px;
    color: #fff;
    font-weight: 100;
}
.texto-central h3{
    font-family: "Muli",sans-serif;
    font-size: 50px;
    color: #fff;
    width: 52rem;
    font-weight: 30;
    text-align: center;
}
.info{
    margin: 100px 85px;
    min-width: -111px;
 } 
 .textos h2{
    color: rgb(70, 75, 77);
    font-family: 'Muli',sans-serif;
    font-size: 61px;
    width: auto;
    margin: 130px 0 20px;
    padding: 58px 0;
    text-align: center;
}
.textos p{
    font-family: 'Muli',sans-serif;
    text-align: justify;
    font-size: 25px;
    margin: 0;
    padding: 0 0 15px;
    color: #727888;
}
.imgm{
    margin: 130px 0 20px;
    padding: 58px 0;
    float: none;
    width:700px;
    height: 700px;
    margin-left: 4rem;
}
.lista{
    font-family: 'Muli',sans-serif;
    color: #727888;
    font-size: 25px;
}
.lista li{
    padding: 22px 0;
}
.baixo{
    margin: 150px 0px;
}
@media screen and (min-width: 992px){
    html,body{
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    .logo{
        position: relative;
    }
    .logotopo{ 
        position: absolute;
        top: 0;
        left: 10px;
        font-family: 'K2D', sans-serif;
        color:rgba(255, 255, 255, 0.945);
        margin: 1rem;   
        font-size: 15px;
    } 
    .intro{
        width: 100%;
        height: 70vh;
        background: url(../img/t.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .texto-central{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .texto-central h1{
        font-family: "Muli",sans-serif;
        font-size: 62px;
        color: #fff;
    }
    .texto-central h3{
        font-family: "Muli",sans-serif;
        font-size: 22px;
        color: #fff;
        width: 46rem;
        text-align: center;
        font-weight: none;
    }
    .info{
       margin: 100px 270px;
       min-width: -111px;
    } 
    .textos h2{
        color: rgb(70, 75, 77);
        font-family: 'Muli',sans-serif;
        font-size: 21px;
        margin: 0 0px;
        padding: 0;
        text-align: left;
    }
    .textos p{
        font-family: 'Muli',sans-serif;
        text-align: justify;
        font-size: 18px;
        width:60vw;
        color: rgb(116, 108, 108);
        margin: 28px 0px;
        height: 180px;
    }
    .imgm{
        float: left;
        width: 300px;
        height: 300px;
        margin: 0;
        padding: 0;
        
    }
    .text-esq h2{
        margin-left: 25rem;

    }
    .text-esq p{
        width: 39vw;
        margin-left: 25rem;
        
    }
    .lista{
        font-family: 'Muli',sans-serif;
        color: rgb(116, 108, 108);
        width: 58vw;
        padding: 0 0 15px;
        font-size: 18px;
        margin: 42px 0px;
    }
    .lista li{
        padding: 10px 0;
    }
    
    #home1{
        right: 5rem;;
        background-image:url('../img/home.png'); /* url */
        width:80px; /* largura */
        height:80px; /* altura */
        background-size: cover;
        position: fixed;
      
    }
    #home1:hover{
        width:90px; /* largura */
        height:90px; /* altura */
        transition: 0.5s;
    }
}